*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* header */
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row{
    
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: space-between;
}
.col_logo_info{
    height: 100%;
    width: 50%;
    display: flex;
}
.col_bar{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.item_logo_info{
    height: 100%;
    width: calc(85% / 4);
    padding: 2%;
}
.inizia_button{
    background-color: rgb(0, 97, 255) ;
    color: white;
    font-size: 19px;
    padding: 5px;
}
/* main */
main{
    background-color: white;
}
/* first-box */
.first_box{
    background-color: rgb(180, 208, 231);
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.row_first_box_title{
    width: 75%;
    font-size: 43px;
    height: 45%;
    padding: 1%;
}
.row_first_box_text{
    width: 75%;
    height: 55%;
    padding: 1%;
}
.col_first_box_text{
    height: 100%;
    width: 50%;
    text-align: left;
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.text_first_box{
    background-color: rgb(0, 97, 255) ;
    color: white;
    font-size: 16px;
    padding: 13px;
    width: 40%;
}
.col_first_box_image{
    height: 100%;
    width: 50%;
    display: flex;
}
.img_jumbo{
    position: relative;
    bottom: 81%;
    left: 100%;

}
.arrow{
    font-size: 40px;
}
/* second-box */
.second_box{
    height: 400px;
    width: 100%;
    padding: 10%;

}
.row_second_title{
    font-size: 30px;
    padding-left: 5%;
}
.row_box_radio{
    display: flex;
    padding: 5%;
    width: 50%;
    justify-content: space-between;
    font-size: 18px;
}

/* third-box */
.third_box{
    height: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
}
.third_row{
    width: 100%;
    height: 1100px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
.third_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.col_third{
    width: calc(90% / 3);
    height: 100%;
    border-style: ridge;
    border-color: rgb(231, 231, 231);
}
.head_container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.main_first_container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20%;
}
.grey_text{
    color: rgb(107, 107, 107);
}
.main_second_container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-top: 20%;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 15%;
    padding-bottom: 7%;
}
.text_items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 17%;
}
.prova_gratis{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 22%; 
}
.text_prova_box{
    background-color: rgb(0, 97, 255);
    color: white;
    font-size: 16px;
    padding: 13px;
    width: 52%;
}
.text_contattaci_box{
    background-color: rgb(0, 97, 255);
    color: white;
    font-size: 16px;
    padding: 13px;
    width: 27%;
}
.link{
    width: 100%;
    padding-top: 22%;
    padding-left: 23%;
}
.box_punti{
    height: 200px;
    width: 100%;
    padding-top: 20%;
}
.center{
    display: flex;
    justify-content: center;
}
.main_cont_third{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-top: 20%;
}
.main_cont_third2{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-top: 20%;
}
.items_check{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 15%;
    padding-bottom: 4%;
}
.items_check2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 15%;
    padding-bottom: 4%;
}
.item_text2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-right: 25%;
}
.item_text3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92%;
    padding-right: 25%;
}
.solid_check{
    color:  rgb(0, 97, 255);
}
/* Fourth box */
.fourth_box{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10%;
}
.fourth_row{
    width: 100%;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    border-style: ridge;
    border-color: rgb(231, 231, 231);
}
.head_little_cont{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.main_contain_fourth{
    width: 100%;
    height: 100%;
    display: flex;
}
.box_1{
    height: 100%;
    width: 60%;
}
.box_2{
    height: 100%;
    width: 40%;
    text-align: center;
}
.enterprise{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8%;
}
.text_box1{
    height: 40%;
    font-size: 18px;
    padding-top: 8%;
    padding-left: 8%;
}
.box2_vendite{
    background-color: rgb(0, 97, 255) ;
    color: white;
    font-size: 20px;
    width: 39%;
    margin-top: 14%;
    margin-left: 36%;
}
/* fifth box */
.fifth_box{
    height: 700px;
    width: 100%;
    margin-top: 10%;
}
.cont_fifth{
    height: 650px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
.fifth_img_box{
    height: 100%;
    width: 60%;
    display: flex;
}
.fifth_text_box{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}
.fifth_text{
    width: 80%;
    height: 80%;
    padding: 10%;
}
.fifth_p{
    margin-top: 10%;
    font-size: 20px;
}
.fifth_button{
    margin-top: 20%;
    font-size: 20px;
    border-style: groove;
    width: 51%;
    height: 9%;
    padding: 2%;
}
/* sixth box */
.sixth_box{
    height: 1000px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
}
.sixth_title{
    height: 10%;
    width: 100%;
    font-size: 27px;
}
.sixth_row_1{
    display: flex;
    justify-content: space-between;
    height: calc(90% / 2);
    width: 100%;
    margin-top: 7%;
}
.col_sixth_row{
    height: 100%;
    width: calc(90% / 3);
}
.img_sixth_1{
    width: 100%;
    height: calc(100% / 2);
    contain: content;
    display: flex;
    justify-content: center;
}
.sixth_row_text{
    width: 100%;
    height: calc(100% / 2);
}
.sixth_col_text{
    padding-top: 8%;
    font-size: 17px;
}
/* seventh box */
.seventh_box{
    width: 100%;
    height: 500px;
    margin-top: 20%;
}
.seventh_title{
    padding-top: 10%;
    padding-left: 5%;
    font-size: 20px;
    width: 50%;
}
.seventh_text{
    padding-top: 5%;
    padding-left: 5%;
    font-size: 20px;
    width: 50%;
}
/* eighth box */
.eighth_box{
    width: 100%;
    height: 600px;
    display: flex;
}
.eight_first_third_box{
    height: 100%;
    width: calc(60% / 2);
}
.eight_second_box{
    height: 100%;
    width: 40%;
}
.eight_title_box{
    height: 40%;
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.eight_text_box{
    height: 60%;
    width: 100%;
    background-color: rgb(245, 245, 245);
}
.eight_text_second{
    padding: 6%;
    font-size: 20px;
}
.eight_subtext{
    padding: 6%;
    font-size: 20px;
}
.row_eight{
    width: 100%;
    height: calc(100% / 2);
    display: flex;
}
.col_eight{
    width: calc(100% / 2);
    height: 100%;
    contain: content;
}
.logo_eight{
    height: 28%;
    width: 100%;
    margin-top: 50%;
    filter: invert(1);
}
.green_eight{
    background-color: rgb(162, 211, 155);
}
.red_asu_eight{
    background-color: rgb(97, 8, 43);
}
.sky_blue_eight{
    background-color: rgb(0, 147, 206);
}
.orange_eight{
    background-color: rgb(255, 28, 28);
}
.red_eight{
    background-color: rgb(213, 0, 31);
}
.grey_eight{
    background-color: rgb(180, 208, 231);
}
.blue_eight{
    background-color: rgb(13, 36, 129);
}
.yellow_eight{
    background-color: rgb(255, 216, 48);
}
/* ninth box */
.ninth_box{
    background-color: rgb(180, 208, 231);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}
.ninth_title{
    padding: 10%;
    margin-left: 13%;
    font-size: 20px;
}
.ninth_button_box{
    padding-top: 11%;
    width: 30%;
}
.ninth_button{
    background-color: white;
    padding: 3%;
    font-size: 22px;
    border-style: groove;
}
/* tenth box */
.tenth_box{
    height: 700px;
    width: 100%;
}
.tenth_title{
    padding-left: 23%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}
.title_domande{
font-size: 50px;
}
.hr_tenth{
    padding-top: 5%;
}
.contain_text_tenth{
    display: flex;
}
.text_tenth{
    padding-top: 3%;
    padding-right: 30%;
    font-size: 18px;
}
.item_tenth{
    padding-top: 3%;
}
footer{
    background-color: black;
    height: 600px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}
.contain_foot{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.col_foot{
    width: calc(100% / 5);
    height: 100%;
    padding-top: 10%;
}
.title_foot{
    font-size: 30px;
}
.foot_list_box{
    padding-top: 5%;
    font-size: 18px;
}
.foot_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    list-style: none;
}
.hr_foot{
    padding-top: 20%;
}
.foot_language{
    padding-top: 20%;
    font-size: 18px;
}
